.leaflet-container {
  height: 100vh;
  margin: 10px;
  min-width: 800px;
}

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Background Color */
  --primary-color: #250e27;
  --secondary-color: #fff;
  --bg-dark-blue: #fff;
  --bg-white: #fff;
  --gray-color: #c6c9d8bf;
  --gradient-color: linear-gradient(-224deg, var(--primary-color) 0, #337DFF 100%);
  --gradient-text: linear-gradient(120deg, #47194b 20.69%, #6e1515 50.19%, var(--primary-color) 79.69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primary-color)', endColorstr='var(--secondary-color)', GradientType=1);

  /* Text Color */
  --primary-font: 'Poppins', sans-serif;
  --primary-text: #250e27;
  --text-gray: #250e27;
  --text-blue: #241868;
}

.main-container {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}

/* 1 Custom CSS */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

input[type=number] {
  border: none;
  outline: none;
  background-color: rgb(75, 125, 231, 0.1);
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
}


h3 {
  margin: 19px;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-blue);
}


input:hover,
input:focus,
textarea:focus,
textarea:hover,
button {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  color: whitesmoke;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: whitesmoke;
  border: none;
  color: var(--primary-color)
}



/* ************************* */


.set-control-container {
  text-align: center;
}

.set-marker-container {
  text-align: center;
}

.set-control-card {
  height: 220px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 2px rgb(75, 125, 231, 0.2);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border: none;
  margin: 10px;
}

.log-info-card {
  height: fit-content;
  min-width: 200px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 2px rgb(75, 125, 231, 0.9);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border: none;
  margin: 10px;
  font-size: 0.8rem;
  text-align: center;
  background-color: rgb(50, 81, 148);
  color: aliceblue;

}

.log-info-card p {
  margin: 0;
}

.log-info-card h3 {
  color: aliceblue;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}


.log-info-card button {
  color: gray;
  border: none;
  font-size: 1.2rem;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.log-info-controls {
  /* Set position to absolute */
  /* position: absolute; */
  /* Set top and right properties to 0 */
  top: 0;
  right: 0;
  /* Add some margin and padding */

}

.log-info-card button:hover {
  color: rgb(199, 144, 42)
}

/* time controler******************************************************************************************* */



input[type=range] {
  -webkit-appearance: none;
  width: 80%;
  height: 8px;
  background: rgb(75, 125, 231);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 10px;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: navy;
  cursor: pointer;
  border: none;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: navy;
  cursor: pointer;
  border: none;
}

.play-button,
.pause-button,
.backward-button,
.forward-button {
  background-color: navy;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.8;
}

.slider-controls {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.slider-controls button {
  flex: 1;
  margin: 0 10px;
}

.slider-controls button:hover {
  opacity: 1;
}