.leaflet-container {
  height: 65vh;
  margin: 10px;
  min-width: 500px;
}

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Background Color */
  --primary-color: #250e27;
  --secondary-color: #fff;
  --bg-dark-blue: #fff;
  --bg-white: #fff;
  --gray-color: #c6c9d8bf;
  --gradient-color: linear-gradient(-224deg, var(--primary-color) 0, #337DFF 100%);
  --gradient-text: linear-gradient(120deg, #47194b 20.69%, #6e1515 50.19%, var(--primary-color) 79.69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primary-color)', endColorstr='var(--secondary-color)', GradientType=1);

  /* Text Color */
  --primary-font: 'Poppins', sans-serif;
  --primary-text: #250e27;
  --text-gray: #250e27;
  --text-blue: #241868;
}

.main-container {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}

/* 1 Custom CSS */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

input[type=number] {
  border: none;
  outline: none;
  background-color: rgb(75, 125, 231, 0.1);
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
}


h3 {
  margin: 19px;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-blue);
}

.datalist-container ul {
  margin-right: 16px;
  padding: 0;
}

input:hover,
input:focus,
textarea:focus,
textarea:hover,
button {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  color: whitesmoke;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: whitesmoke;
  border: none;
  color: var(--primary-color)
}



/* ************************* */


.set-control-container {
  text-align: center;
}

.set-marker-container {
  text-align: center;
}

.set-control-card {
  height: 220px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 2px rgb(75, 125, 231, 0.2);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border: none;
  margin: 10px;
}

.log-info-card {
  position: relative;
  height: fit-content;
  min-width: 200px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 2px rgb(75, 125, 231, 0.9);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border: none;
  margin: 10px;
  font-size: 0.8rem;
  text-align: left;
  background-color: rgb(50, 81, 148);
  color: aliceblue;
  justify-content: center;

}

.log-info-card .header {
  padding-bottom: 10px;
}

.log-info-card p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.log-info-card h3 {
  color: aliceblue;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}


.log-info-card button {
  color: red;
  border: none;
  font-size: 1.2rem;
  background-color: transparent;

}

.log-info-controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log-info-controls input[type=checkbox] {
  padding: 10px;
  margin-right: 5px;
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
  border-radius: 5px;
}

.log-info-controls input[type=checkbox]:checked::before {
  content: "\2713";
  display: inline-block;
  color: white;
  font-size: 14px;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  background-color: rgb(199, 144, 42);
  border-radius: 5px;
}

.log-info-card button:hover {
  color: rgb(199, 144, 42)
}

/* time controler******************************************************************************************* */



input[type=range] {
  -webkit-appearance: none;
  width: 80%;
  height: 8px;
  background: rgb(75, 125, 231);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 10px;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: navy;
  cursor: pointer;
  border: none;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: navy;
  cursor: pointer;
  border: none;
}

.play-button,
.pause-button,
.backward-button,
.forward-button,
.upload-button {
  background-color: navy;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}

.file-submit-btn:disabled {
  opacity: 0.3;
}

.file-input {
  display: inline-block;
  background-color: navy;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.8;
}

.file-input:hover {
  opacity: 1;

}

.orange {
  color: rgb(199, 144, 42);
}

.file-submit-btn {
  background-color: rgb(0, 128, 0);
  color: white;
  border: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
}

.remove-button {
  border: none;
  background-color: transparent;
}

.slider-controls {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.slider-controls button {
  flex: 1;
  margin: 0 10px;
}

.slider-controls button:hover {
  opacity: 1;
}

.set-marker-header {
  display: flex;
  align-items: center;
  justify-content: center;

}

.set-marker-header img {
  margin-left: 35px;
  height: 30px;
  width: 20px;
}

.header-control-container {
  height: 25vh;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 75%;
  height: 70%;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.ListOfRecords {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ListOfRecords tbody tr {
  padding: 5px;
  align-items: center;
}

.ListOfRecords tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table-container {
  max-height: 400px;
  overflow-y: scroll;
  position: static;
  height: fit-content;
}

.ListOfRecords tr {
  margin: 10px;
}

.ListOfRecords th {
  position: sticky;
}

.plus-button {
  color: rgb(199, 144, 42);
  border: none;
  background-color: transparent;
  padding-bottom: 10px;
  margin: 0;
  cursor: pointer;
}

.log-title {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(199, 144, 42);
}

.log-p-title {
  font-size: 1.1rem;
}